<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AGENDA</title>
</head>
<body>
  <h1>Agenda de Contatos</h1>

   <form action="/create" method="POST">
    <input name="name" placeholder="Nome">
    <input name="email" placeholder="E-mail">
    <input name="phone" placeholder="Telefone">
    <button type="submit">
      Adicionar
    </button>
  </form>

   <ul>
    {% for item in contacts %}
      <li>
        <form action="/update/{{item.id}}" method="POST">
            <input name="name" value="{{ item.name }}">
            <input name="email" value="{{ item.email }}">
            <input name="phone" value="{{ item.phone }}">
            <button type="submit">Editar</button>
        </form>
        
        <a href="/delete/{{item.id}}">❌</a>
      </li>
    {% endfor %} 
  </ul>
  
</body>
</html>