<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Agenda de Contatos</title>
  <link rel="stylesheet" href="static/style.css">
  <link rel="stylesheet" href="static/neumorphism-ui.css">
</head>
<body class="dark-mode">
  <div class="sul-box-raised-2 container">
    <h1>Agenda de Contatos</h1>
    <!-- Formulário de criação de contacts -->
    <form action="/create" method="POST">
      <input class="sul-text-field" name="name" placeholder="Nome">
      <input class="sul-text-field" name="email" placeholder="E-mail">
      <input class="sul-text-field" name="phone" placeholder="Telefone">
      <button class="sul-btn" type="submit">
        Adicionar
      </button>
    </form>
  
    <!-- Exibição da lista de contacts -->
    <ul>
      {% for item in contacts %}
        <li>
          {% if item.complete == True %}
            <s>{{ item.name }}</s>
          {% else %}
            <form action="/update/{{ item.id }}" method="POST">
              <input class="sul-text-field" name="name" value="{{item.name}}">
              <input class="sul-text-field" name="email" value="{{item.email}}">
              <input class="sul-text-field" name="phone" value="{{item.phone}}">
              <button class="sul-btn" type="submit">
                Editar
              </button>
            </form>
          {% endif %}           
          <a href="/delete/{{loop.index0}}">❌</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</body>
</html>