<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Agenda</title>
</head>
<body>
  <div>
    <h1>Registrar</h1>
    <form action="/signup" method="POST">
      <input type="name" placeholder="Nome">
      <input type="email" name="email" placeholder="E-mail">
      <input type="password" name="password" placeholder="Senha">
      <button type="submit" >Registrar</button>
    </form>
    <a href="/login">Login</a>
  </div>
</body>
</html>